<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>登录</title>
</head>
<body>
  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>登录</h2>
      </div>
	  <form action="{:U('Home/Index/index')}" method="POST" >
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="phone"></label>
          <input type="text" name="phone" id="phone" placeholder="手机号" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="password"></label>
          <input type="password" name="password" id="password" placeholder="密码" class="layui-input">
        </div>
        <div class="layui-form-item" style="margin-bottom: 20px;">&nbsp;</div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" type="submit" >登 录</button>
        </div>
      </div>
	  </form>
    </div>
    
  </div>

</body>
</html>